*~
*.os
*.pyc
*.pydevproject
*.project
*.cproject
*.settings
*.autotools
.*.swp
Makefile
CMakeFiles
CMakeCache.txt
cppcheck_results.xml

cmd/client_apps/Android/gen/
cmd/client_apps/Android/bin/

/build
/build_env
/install
/Testing

/SConstruct
/site_scons
/boot
/bamboo_tools

/.config.xml
/.metadata_src_project
/.src_project*
